// Header
$header_strong_blue: #032d38;

// Text
$text_strong_blue: #0b4051;
$text_medium_blue: #00586F;
$text_light_blue: #0ea0c0;
$text_strong_gray: #4f4f4f;
$text_medium_gray: #7A7A7A;
$text_light_gray: #5e6263;

// Button
$button_strong_blue: #0B4051;
$button_light_blue: #0ea0c0;
$button_strong_green: #52a038;
$button_light_green: #73d852;

// Border
$border_strong_blue: #0b4051;
$border_strong_gray: #7A7A7A;
$border_light_gray: #d8d8d8;

// Background
$background_extra_strong_blue: #032d38;
$background_strong_blue: #0b4051;
$background_light_gray: #e5e5e566;
